@use "abstracts/variables";

:root {
    /* Colors */
    --text-color: #{variables.$text-color};
    --background-color: #{variables.$background-color};

    /* Scrollbar colors */
    --scrollbar-track: #{variables.$scrollbar-track-color};
    --scrollbar-thumb: #{variables.$scrollbar-thumb-color};
    --scrollbar-thumb-hover: #{variables.$scrollbar-thumb-hover-color};

    /* Transitions */
    --transition-duration: #{variables.$transition-duration};

    /* Border */
    --border-style: #{variables.$border-style};
    --border-color: #{variables.$border-color};
    --border-width: #{variables.$border-width};

    /* Dimensions */
    --header-h: 3.75rem;

    /* Sidebar Right */
    --sidebar-right-w: max(12rem, min(25vw, 16rem));
    --sidebar-right-font-size: 0.75rem;
    --sidebar-right-line-height: 1.5;
    --sidebar-right-section-padding: 1rem;
    --sidebar-right-transition-delay: 2s;
    --sidebar-right-list-elements-indentation: 0.875rem;
    --sidebar-right-list-elements-gap: 0.5rem;
    --sidebar-right-list-elements-dropdown-border-radius: 0.875rem;
    --sidebar-right-list-elements-hover-bg-color: rgb(225, 225, 225);
    --sidebar-right-list-elements-hover-padding-left: 0.5rem;
    --sidebar-right-list-elements-hover-border-radius: calc(var(--sidebar-right-font-size) / 3);
    --sidebar-right-links-color: hotpink;
}
