@use "variables";

html {
    scroll-padding-top: calc(3.75rem + 2.5rem + 0.125rem);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    &::-webkit-scrollbar {
        width: 0.5rem;
        display: block;
    }

    &::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
        border-left: var(--border-width) var(--border-style) var(--border-color);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-hover);
    }
}
