aside.sidebar-right > header {
    width: 100%;
    height: var(--header-h);
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }
}
