body > main > article > section.shortcode.github_github-actions_workflow-run > section.jobs {
    background-color: red;
    ul > li {
        list-style-type: none;
    }

    details > summary {
        list-style-type: none;
    }
}
