main > article {
    code {
        font-family: "Ubuntu Sans Mono";
    }

    .highlight {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        position: relative;
    }

    .highlight > div {
        border-radius: 1rem;
    }

    .highlight pre {
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .highlight::before {
        content: "copy";
        font-family: "Ubuntu Sans Mono";
        position: absolute;
        padding: 2px 15px;
        top: 0;
        left: 0;
        background: #333;
        color: white;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        cursor: pointer;
    }

    .highlight code[data-lang]::before {
        content: attr(data-lang);
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 15px;
        background: #333;
        color: white;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}
