@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-stye: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winky Sans';
    src: url('../fonts/WinkySans/WinkySans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}