aside.sidebar-left > header {
    width: 100%;
    height: var(--header-h);
    border-bottom: var(--border-width) var(--border-style) var(--border-color);

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    > h2 {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.5rem;
        font-style: italic;
        text-shadow: 0.0625em 0.0625em rgb(200, 175, 175);
    }
}
