/* Colors */
$text-color: rgb(50, 0, 50);
$background-color: white;

/* Borders */
$border-style: solid;
$border-color: rgb(215, 215, 215);
$border-width: 0.125rem;

/* Transitions */
$transition-duration: 200ms;
