@use "variables";

:root {
    /* Colors */
    --text-color: #{variables.$text-color};
    --background-color: #{variables.$background-color};

    /* Transitions */
    --transition-duration: #{variables.$transition-duration};

    /* Border */
    --border-style: #{variables.$border-style};
    --border-color: #{variables.$border-color};
    --border-width: #{variables.$border-width};

    /* Dimensions */
    --header-h: 3.75rem;
}
