body > header {
    height: var(--header-h);
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(245, 245, 245, 0.402);

    backdrop-filter: blur(0.375rem);
    box-shadow: 0 0.03125rem 0.5rem rgb(185, 185, 185);

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: var(--border-width) var(--border-style) var(--border-color);

    transition: transform var(--transition-duration);
}

body > header h1 {
    margin: 0;
    font-size: 1.5rem;
}

body > header nav {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

body > header nav div.mode {
    cursor: pointer;
}

body > header nav svg {
    display: block;
    width: 2rem;
    height: 2rem;
}

body > header nav * {
    display: block;
}

body > header nav .icon {
    margin-left: 1rem;
}

body > header nav .icon:first-child {
    margin-left: 0;
}

body > header > nav .icon img.github {
    height: 1.875rem;
    width: 1.875rem;
}
