aside.sidebar-left > nav {
    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    > ul {
        padding-top: 1rem;
        padding-bottom: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;

        li {
            margin-top: var(--sidebar-left-ul-li-gap);

            &:first-child {
                margin-top: 0;
            }

            a {
                font-size: 0.875rem;
                color: var(--text-color);
                text-decoration: none;

                &.exists:hover {
                    color: var(--sidebar-left-link-hover-color);
                    text-decoration: underline;
                }
            }
        }

        details {
            padding: 0;
            overflow: hidden;

            > ul {
                margin-left: 1rem;
                border-left: var(--border-width) solid var(--border-color);
                padding-top: var(--sidebar-left-ul-li-gap);
            }

            &::details-content {
                block-size: 0;
            }

            &[open] {
                &::details-content {
                    block-size: auto;
                }

                > summary > div > svg {
                    transform: rotate(90deg);
                }
            }

            > summary {
                list-style: none;

                > div {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    > svg {
                        flex-shrink: 0;
                        fill: rgb(55, 0, 110);
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }
            }
        }

        li {
            > div, /* Leaf nodes */
            > details > summary > div /* Parent nodes */ {
                padding-right: var(--list-element-padding-left);
                border-radius: 0.375rem;

                &:hover {
                    background-color: rgb(225, 225, 225);
                }
            }
        }
    }
}
