@use "variables";

aside.sidebar-left > nav#sitemap {
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.25rem;

    font-size: variables.$font-size;
    line-height: normal;

    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul {
        > li {
            margin-top: variables.$li-gap;
            padding-left: calc(
                (variables.$li-svg-dimensions - var(--border-width)) / 2 + variables.$li-svg-margin-right -
                    variables.$li-hover-padding-left
            );

            &:first-child {
                margin-top: 0;
            }

            > div.link-container /* leaf nodes */ {
                padding-left: variables.$li-hover-padding-left;
            }

            a {
                color: var(--text-color);
                text-decoration: none;

                &.exists:hover {
                    color: var(--sidebar-left-link-hover-color);
                    text-decoration: underline;
                }
            }
        }

        details {
            padding: 0;
            overflow: hidden;

            > ul {
                margin-left: calc((variables.$li-svg-dimensions - var(--border-width)) / 2);
                border-left: var(--border-width) solid var(--border-color);
                padding-top: variables.$li-gap;
            }

            &::details-content {
                block-size: 0;
            }

            &[open] {
                &::details-content {
                    block-size: auto;
                }

                > summary > div > svg {
                    transform: rotate(90deg);
                }
            }

            > summary {
                list-style: none;

                > div {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    > svg {
                        flex-shrink: 0;
                        fill: rgb(55, 0, 110);
                        height: variables.$li-svg-dimensions;
                        width: variables.$li-svg-dimensions;
                        margin-right: variables.$li-svg-margin-right;
                    }
                }
            }
        }

        div.container {
            border-radius: 0.375rem;

            &:hover {
                background-color: rgb(225, 225, 225);
            }
        }
    }
}
