:root {
    --animation-delay-initialized: 0.2s;
    --animation-delay: 0;
    --list-elements-margin: 0.375rem;
    --list-elements-padding-left: 1rem;
}

div.sidebar-left {
    width: 16rem;
    height: calc(100vh - 3.75rem);
    position: fixed;
    left: 0;
    border-right: var(--border-width) var(--border-style) var(--border-color);
    overflow-y: auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    user-select: none;
    interpolate-size: allow-keywords;
}

div.sidebar-left ul.content {
    margin-bottom: 1.25rem;
}

div.sidebar-left ul,
div.sidebar-left li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.sidebar-left li {
    list-style-type: none;
    margin: 0;
    margin-top: var(--list-elements-margin);
}

div.sidebar-left li:first-child {
    margin-top: 0;
}

div.sidebar-left details > ul {
    list-style-type: none;
    margin-left: 1rem;
    border-left: var(--border-width) solid var(--border-color);
    padding-top: var(--list-elements-margin);
    border-bottom-left-radius: 2rem;
}

div.sidebar-left details {
    padding: 0;
    overflow: hidden;
}

div.sidebar-left details::details-content {
    block-size: 0;
    transition:
        block-size var(--animation-delay),
        content-visibility var(--animation-delay);
    transition-behavior: allow-discrete;
}

div.sidebar-left details.initialized::details-content {
    transition:
        block-size var(--animation-delay-initialized),
        content-visibility var(--animation-delay-initialized);
    transition-behavior: allow-discrete;
}

div.sidebar-left details[open]::details-content {
    block-size: auto;
}

div.sidebar-left summary {
    list-style: none;
}

div.sidebar-left li div,
div.sidebar-left summary div {
    padding-left: var(--list-elements-padding-left);
    padding-right: var(--list-element-padding-left);
    border-radius: 0.375rem;
}

div.sidebar-left li div:hover,
div.sidebar-left summary div:hover {
    background-color: rgb(225, 225, 225);
}

div.sidebar-left details summary div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

div.sidebar-left details[open] > summary div svg {
    transform: rotate(90deg);
}

div.sidebar-left details summary div svg {
    transition: transform var(--animation-delay) ease;
    fill: rgb(55, 0, 110);
    height: 1.5rem;
    width: 1.5rem;
}

div.sidebar-left a {
    font-size: 0.875rem;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

div.sidebar-left a:hover {
    color: rgb(105, 15, 200);
    text-decoration: underline;
}

div.sidebar-left a strong {
    color: rgb(105, 15, 200);
}

div.sidebar-left h2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-left: var(--list-elements-padding-left);
}
