body > main > article > div.shortcode.html-css-javascript > div.consoles > pre.console > div.line-numbers {
    margin-left: 0.5rem;
    margin-right: 1rem;

    user-select: none;

    > div.line-number {
        font-family: "JetBrains Mono";
        margin: 0;
        padding: 0;
        text-align: right;
    }
}
