body > main > article > div.shortcode.html-css-javascript {
    > div.consoles {
        overflow: auto;
        border: var(--border-width) dashed var(--border-color);
        border-radius: 1em;

        pre.console {
            display: flex;
            padding: 0.5rem;

            min-width: fit-content;

            > code {
                padding: 0;
                overflow: visible;
            }
        }
    }
}
