main > article > ul > li {
    list-style-position: inside;
    list-style-image: url("/images/right-arrow-8.svg");

    &::marker {
        font-size: 1.25rem;
        align-items: center;
    }

    > p {
        display: inline;
    }
}
