@use "variables";

aside.sidebar-right > nav#table-of-contents {
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: var(--font-size);
    line-height: variables.$line-height;
    overflow-y: auto;

    div.link-container {
        line-height: variables.$line-height;

        > a {
            color: inherit;
            font-size: var(--font-size);
            line-height: variables.$line-height;
            text-decoration: none;

            &:hover {
                color: rgb(155, 65, 65);
                text-decoration: underline;
            }
        }
    }

    ul,
    li,
    details > summary {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    details > ul {
        margin-left: calc(variables.$li-svg-dimensions / 2 - var(--border-width) / 2);
        padding-top: variables.$li-gap;
        border-left: var(--border-width) var(--border-style) var(--border-color);
    }

    ul {
        > li {
            margin-top: variables.$li-gap;
            padding-left: calc(
                variables.$li-svg-dimensions / 2 + variables.$li-svg-margin-right - var(--border-width) / 2 -
                    variables.$li-hover-padding-left
            );

            &:first-child {
                margin-top: 0;
            }

            > div.link-container {
                padding-left: variables.$li-hover-padding-left;
            }

            > details {
                padding: 0;
                overflow: hidden;

                &::details-content {
                    block-size: 0;
                }

                &[open] {
                    &::details-content {
                        block-size: auto;
                    }

                    > summary > div.container > svg {
                        transform: rotate(90deg);
                    }
                }

                > summary > div {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    > svg {
                        height: variables.$li-svg-dimensions;
                        width: variables.$li-svg-dimensions;
                        margin-right: variables.$li-svg-margin-right;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }

    div.container {
        padding-top: 0.125em;
        padding-bottom: 0.125em;
        border-radius: variables.$li-hover-border-radius;

        &:hover {
            background-color: var(--li-hover-background-color);
        }
    }
}
