aside.sidebar-right > nav#table-of-contents {
    padding: var(--padding);
    overflow-y: auto;

    div.link-container {
        line-height: var(--line-height);

        > a {
            color: inherit;
            font-size: var(--font-size);
            line-height: var(--line-height);
            text-decoration: none;

            &:hover {
                color: rgb(155, 65, 65);
                text-decoration: underline;
            }
        }
    }

    ul,
    li,
    details > summary {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    details > ul {
        border-left: var(--border-width) var(--border-style) var(--border-color);
        padding-top: var(--li-gap);
        border-bottom-left-radius: var(--li-dropdown-border-radius);
        margin-left: var(--li-hover-padding-left);
        padding-left: calc(var(--li-indentation) - var(--li-hover-padding-left) - var(--border-width));
    }

    ul {
        > li {
            margin-top: var(--li-gap);

            &:first-child {
                margin-top: 0;
            }

            > details {
                padding: 0;
                overflow: hidden;

                &::details-content {
                    block-size: 0;
                }

                &[open] {
                    &::details-content {
                        block-size: auto;
                    }

                    > summary > div.container > svg {
                        transform: rotate(90deg);
                    }
                }

                > summary > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;

                    > svg {
                        height: calc(4 * var(--font-size) / 3);
                        width: calc(4 * var(--font-size) / 3);
                        margin-left: 1rem;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }

    div.container {
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        padding-left: var(--li-hover-padding-left);
        border-radius: var(--li-hover-border-radius);

        &:hover {
            background-color: var(--li-hover-bg-color);
        }
    }
}
