body > header {
    div.container {
        display: flex;
        align-items: center;

        img {
            height: 2rem;
            width: 2rem;
            margin-right: 0.5rem;
        }

        h2 {
            font-size: 2rem;
            text-transform: uppercase;
            text-shadow: 0.125rem 0.125rem rgb(150, 125, 125);
        }
    }
}
