* {
    min-width: 0;
    box-sizing: content-box;
    interpolate-size: allow-keywords;
    /* The interpolate-size CSS property allows you to enable animations and transitions between a <length-percentage>
        value and an intrinsic size value such as auto, fit-content, or max-content. */
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);

    font-family: "Poppins";
    line-height: 1.375rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    /*
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
*/
}

body > svg {
    display: none;
}

/*
pre {
  color: white;
  background-color: black;
  border: red 4px solid;
  border-radius: 10px;
  padding: 10px;
}
*/
