:root {
    --border-style: solid;
    --border-color: rgb(205, 205, 205);
    --border-width: 0.125rem;
    --border-radius: 1rem;
}
* {
    min-width: 0;
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #222;
    font-family: "Poppins";
    line-height: 1.375rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    background-color: white;
    /*
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
*/
}

body > svg {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2rem;
}

/*
pre {
  color: white;
  background-color: black;
  border: red 4px solid;
  border-radius: 10px;
  padding: 10px;
}
*/
