:root {
    --text-color: black;
    --bg-color: white;

    /* Transition */
    --transition-duration: 200ms;

    /* Border */
    --border-style: solid;
    --border-color: rgb(215, 215, 215);
    --border-width: 0.125rem;
    --border-radius: 1rem;

    /* Dimensions */
    --header-h: 3.75rem;

    /* Sidebar Right */
    --sidebar-right-w: max(12rem, min(25vw, 16rem));
    --sidebar-right-font-size: 0.75rem;
    --sidebar-right-line-height: 1.5;
    --sidebar-right-section-padding: 1rem;
    --sidebar-right-transition-delay: 2s;
    --sidebar-right-list-elements-indentation: 0.875rem;
    --sidebar-right-list-elements-gap: 0.5rem;
    --sidebar-right-list-elements-dropdown-border-radius: 0.875rem;
    --sidebar-right-list-elements-hover-bg-color: rgb(225, 225, 225);
    --sidebar-right-list-elements-hover-padding-left: 0.5rem;
    --sidebar-right-list-elements-hover-border-radius: calc(var(--sidebar-right-font-size) / 3);
    --sidebar-right-links-color: hotpink;
}
