:root {
    --text-color: black;
    --bg-color: white;

    /* Transition */
    --transition-duration: 200ms;

    /* Border */
    --border-style: solid;
    --border-color: rgb(205, 205, 205);
    --border-width: 0.125rem;
    --border-radius: 1rem;

    /* Dimensions */
    --header-h: 3.75rem;

    /* Sidebar Right */
    --sidebar-right-w: 18rem;
    --sidebar-right-font-size: 0.75rem;
    --sidebar-right-transition-delay: 2s;
    --sidebar-right-list-elements-margin: 0.375rem;
    --sidebar-right-list-elements-padding-left: 1rem;
    --sidebar-right-links-color: hotpink;
}
