.sidebar-right .feedback h2 {
    font-size: 1.25rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.sidebar-right .feedback button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0.375rem;
}

.sidebar-right .feedback button svg {
    height: 2rem;
    width: 2rem;
}
