aside.sidebar-right {
    position: fixed;
    width: var(--sidebar-right-w);
    right: 0;
    top: 0;
    overflow-y: auto;
    height: 100vh;
    user-select: none;
}

/* Header */
aside.sidebar-right > header {
    width: 100%;
    height: var(--header-h);
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
    display: flex;
    flex-direction: column;
}

aside.sidebar-right > header > div > h1 {
    text-align: center;
}

/* Section */
aside.sidebar-right > section {
    padding-left: var(--sidebar-right-section-padding);
    padding-right: var(--sidebar-right-section-padding);
    padding-top: var(--sidebar-right-section-padding);
    padding-bottom: var(--sidebar-right-section-padding);
}

aside.sidebar-right > section > nav > ul a {
    font-size: var(--sidebar-right-font-size);
    line-height: var(--sidebar-right-line-height);
}

aside.sidebar-right > section > nav ul,
aside.sidebar-right > section > nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside.sidebar-right > section > nav ul li {
    margin-top: var(--sidebar-right-list-elements-gap);
}

aside.sidebar-right > section > nav > ul li:first-child {
    margin-top: 0;
}

aside.sidebar-right > section > nav > ul details > ul {
    border-left: var(--border-width) var(--border-style) var(--border-color);
    padding-top: var(--sidebar-right-list-elements-gap);
    border-bottom-left-radius: var(--sidebar-right-list-elements-dropdown-border-radius);
    margin-left: var(--sidebar-right-list-elements-hover-padding-left);
    padding-left: calc(
        var(--sidebar-right-list-elements-indentation) - var(--sidebar-right-list-elements-hover-padding-left) -
            var(--border-width)
    );
}

aside.sidebar-right > section > nav > ul details {
    padding: 0;
    overflow: hidden;
}

aside.sidebar-right > section > nav > ul details::details-content {
    block-size: 0;
}

aside.sidebar-right > section > nav > ul details[open]::details-content {
    block-size: auto;
}

aside.sidebar-right > section > nav > ul summary {
    list-style: none;
}

aside.sidebar-right > section > nav > ul div {
    padding-left: var(--sidebar-right-list-elements-hover-padding-left);
    border-radius: var(--sidebar-right-list-elements-hover-border-radius);
}

aside.sidebar-right > section > nav > ul summary > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

aside.sidebar-right > section > nav > ul div:hover {
    background-color: var(--sidebar-right-list-elements-hover-bg-color);
}

aside.sidebar-right > section > nav > ul summary > div > svg {
    height: calc(var(--sidebar-right-font-size) + 0.25rem);
    width: calc(var(--sidebar-right-font-size) + 0.25rem);
    margin-left: 1rem;
    flex-shrink: 0;
}

aside.sidebar-right > section > nav > ul details[open] > summary > div > svg {
    transform: rotate(90deg);
}
