.icons {
    height: 40px;
    width: 40px;
    margin: 10px;
    scale: 0.875;
}

.icons.email {
    height: 48px;
    width: 48px;
}

.icons.twitter {
    height: 34px;
    width: 34px;
}

.icons.youtube {
    height: 47px;
    width: 47px;
}

.icons.discord {
    height: 38px;
    width: 38px;
}

.icons.whatsapp {
    height: 36px;
    width: 36px;
}
